version: 2
jobs:
  build_and_test:
    docker:
      - image: zeplin/amazon-linux-ami:cci-node8
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Remove zeplin packages from node_modules
          command: rm -rf node_modules/zeplin-*
      - run:
          name: Install npm packages
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Run lint check
          command: npm run lint

  deploy_dev:
      docker:
        - image: zeplin/amazon-linux-ami:cci-node8
      steps:
        - checkout
        - restore_cache:
            key: deploy-dependency-cache-{{ checksum "package-lock.json" }}
        - run:
            name: Remove zeplin packages from node_modules
            command: rm -rf node_modules/zeplin-*
        - run:
            name: Install npm dependencies for deployment
            command: npm install --production
        - save_cache:
            key: deploy-dependency-cache-{{ checksum "package-lock.json" }}
            paths:
              - ./node_modules
        - run:
            name: Deploy
            command: npm run deploy-dev


  deploy_prod:
      docker:
        - image: zeplin/amazon-linux-ami:cci-node8
      steps:
        - checkout
        - restore_cache:
            key: deploy-dependency-cache-{{ checksum "package-lock.json" }}
        - run:
            name: Remove zeplin packages from node_modules
            command: rm -rf node_modules/zeplin-*
        - run:
            name: Install npm dependencies for deployment
            command: npm install --production
        - save_cache:
            key: deploy-dependency-cache-{{ checksum "package-lock.json" }}
            paths:
              - ./node_modules
        - run:
            name: Deploy
            command: npm run deploy-prod

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - build_and_test:
          filters:
            tags:
              only: /.*/
      - deploy_dev:
          requires:
            - build_and_test
          filters:
            branches:
              only: develop
      - deploy_prod:
          requires:
            - build_and_test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*/